.appIcons{
    display: flex;
    flex-direction: row;
    height: 20px;
    width:  auto;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.icon{
    height: 30px;
    margin-left: 10px;
}
