@font-face {
  font-family: "Consolas";
  src: local("Consolas"),
  url("./fonts/consolas/consola.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ConsolasBold";
  src: local("ConsolasBold"),
  url("./fonts/consolas/consolab.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #212226;

  font-family: "Consolas";
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

code {
  font-family: "Consolas";
}

